.div_color_back {
  background: blue;
  border-radius: 0 0 3rem 0;
  height: 16rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.inside_background {
  background: #0046c9;
  border-radius: 50%;
  height: 15rem;
  position: absolute;
  right: -5rem;
  top: -6rem;
  width: 15rem;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.image {
  align-items: center;
  color: #fff;
  cursor: pointer;
  display: flex;
  gap: 1rem;
}

.image > img,
.card_img > img {
  border-radius: 50%;
  cursor: pointer;
  height: 2.75rem;
  object-fit: cover;
  width: 2.75rem;
}

.image > img {
  border: 2px solid #fff;
}

.svgs_nav {
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
}

.content_all_info {
  padding: 1rem;
  width: 100%;
}

.money_avaible {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 11px grey;
  display: grid;
  grid-template-rows: 0fr 1fr;
  height: 17rem;
  padding: 1rem;
  width: 100%;
}

.name_bank {
  align-items: center;
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
  width: 100%;
}

.name_bank > p:nth-child(1) > span {
  color: gray;
}

.name_bank > p:nth-child(2) {
  color: #1d1de6;
  cursor: pointer;
}

.quantifi_money {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
}

.spinner,
.spinner:after {
  border-radius: 50%;
  display: block;
  height: 13rem;
  width: 13rem;
}

.spinner {
  background-color: transparent;
  border-bottom: 11px solid transparent;
  border-left: 11px solid #0099ff;
  border-right: 11px solid #428bca33;
  border-top: 11px solid #0099ff;
  position: absolute;
  top: 1.5rem;
  z-index: -1;
}

.quantifi_money > svg {
  font-size: 1.6rem;
}

.quantifi_money > p {
  font-size: 1.1rem;
  font-weight: 500;
}

.content_list_options {
  align-items: center;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  margin: 1.5rem 0;
  width: 100%;
}

.list_option {
  align-items: center;
  background-color: #cacaca87;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  width: 100%;
}

.transition {
  background: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
}

.list_transition {
  display: grid;
  gap: 1rem;
  margin: 1rem 0 0;
  max-height: 30rem;
  overflow: auto;
  padding: 1rem 0.2rem;
  width: 100%;
}

.card_transition {
  align-items: center;
  background: #fff;
  border-radius: 0.7rem;
  box-shadow: 1px 1px 4px grey;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.content_info_bank {
  display: flex;
  gap: 1rem;
}

.card_title {
  font-size: 0.9rem;
}

.box_button_logout {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 1rem 1rem;
  width: 100%;
}

@media (min-width: 1000px) {
  .div_color_back {
    height: 20rem;
  }

  .content_all_info {
    margin: 0 auto;
    width: 60rem;
  }

  .contains_money_list {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .content_list_options {
    grid-template-columns: none;
    margin: 0;
  }

  .list_option {
    background-color: #fff;
    box-shadow: 1px 1px 11px gray;
  }

  .contains_money_list {
    margin: 2rem auto 2rem;
  }

  .list_transition {
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
  }

  .card_transition {
    width: 25.9rem;
  }

  .list_option > svg {
    font-size: 1.6rem;
  }

  .box_button_logout {
    width: 24rem;
    margin: 0 auto;
  }
}
