.main__container::before {
  content: "";
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("../../images/cool-background.png");
}

.main__navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.main__content {
  padding: 1rem;
  width: 100%;
}

.main__image {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.2rem;
  gap: 1rem;
  position: relative;
}

.main__image > img,
.main__navbar > img {
  border-radius: 50%;
  border: 2px solid #000;
  cursor: pointer;
  height: 3rem;
  object-fit: cover;
  width: 3rem;
}

.main__navbar > img {
  border: none;
  border-radius: 0;
}

.main__info_app > h2 {
  font-size: 1.8rem;
  margin: 0 0 1rem 0;
}

.main__info_app p {
  font-size: 1.1rem;
}

.main__buttons {
  align-items: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin: 2rem 0 1rem;
  width: 100%;
}

.main__button_appo,
.main__button_see {
  background: #000;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
  height: 3rem;
  transition: 1s ease-in-out;
  width: 100%;
}

.main__options {
  display: grid;
  gap: 2rem;
  margin: 2rem 0 1rem;
  width: 100%;
}

.main__item {
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: center;
  padding: 1rem;
  transition: 1s ease-in-out;
  width: 100%;
}

.main__item > svg {
  font-size: 1.8rem;
  margin: 0 0 0.4rem;
}

.main__item > p {
  font-size: 1.2rem;
  font-weight: 500;
}

@media (min-width: 1000px) {
  .main__info_app {
    display: flex;
    flex-direction: column;
    height: 86vh;
    justify-content: center;
    padding: 0 0 0 3rem;
    width: 32rem;
  }

  .main__button_appo:hover,
  .main__button_see:hover,
  .main__item:hover {
    transform: scale(1.05);
    transition: 1s ease-in-out;
  }

  .main__options {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 3rem auto;
    width: 80%;
  }

  .main__item {
    background: #fff;
    border: none;
    box-shadow: 1px 1px 11px grey;
    height: 15rem;
    width: 100%;
  }
}
