.nav__container {
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav__hidden {
  transform: translate(45rem);
  transition: 0.5s ease-in-out;
}

.nav__show {
  transform: translate(0);
  transition: 0.2s ease-in-out;
}

.nav__backg {
  background: #000000a3;
  cursor: pointer;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.nav__content {
  grid-template-rows: 0fr 0fr 1fr 1fr;
  background: #fff;
  display: grid;
  padding: 1rem;
  width: 85%;
}

.nav__name {
  font-size: 0.9rem;
  font-weight: bold;
}

.nav__li {
  cursor: pointer;
  font-size: 1.1rem;
  margin: 2rem 0;
}

.nav__buttons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-end;
}

.nav__buttons > button {
  align-items: center;
  border-radius: 0.313rem;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 1.3rem;
  gap: 0.5rem;
  height: 3.75rem;
  justify-content: center;
  width: 100%;
}

.nav__buttons > button:nth-child(1) {
  background-color: #00ff00;
}
.nav__buttons > button:nth-child(2) {
  background-color: #0099ff;
}
.nav__buttons > button:nth-child(3) {
  background-color: #ff0000;
}

@media (min-width: 1000px) {
  .nav__container {
  }

  .nav__content {
    width: 30%;
  }

  .nav__hidden {
    transform: translate(100rem);
  }
}
