.container {
  width: 100%;
  height: 100vh;
  padding: 0 1rem;
  background: linear-gradient(159deg, #4fc7e2 40%, #47e7c8 60%);
}

.welcome {
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}

.title {
  text-align: center;
  padding: 0 0 1.5rem;
  color: #fff;
}

.resumen {
  font-size: 1.3rem;
  margin: 0rem 0 2rem;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.modal_desc {
  width: 92%;
  height: fit-content;
  padding: 1rem;
  background: #fff;
  border-radius: 0.6rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.modal_desc > h2 {
  margin-bottom: 1rem;
}

.back_modal {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #000000a1;
}

.modal_button {
  width: 100%;
  height: 3rem;
  margin: 1.2rem 0;
  font-size: 1rem;
  border-radius: 0.4rem;
  background: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.content_cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card_user,
.card_prof {
  align-items: center;
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 11px #808080b5;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 9rem;
  justify-content: center;
  position: relative;
  width: 100%;
}

.card_user > svg,
.card_prof > svg {
  font-size: 3rem;
  margin: 0.5rem 0;
  color: #47e7c8;
}

.card_user > p,
.card_prof > p {
  font-size: 1.1rem;
}

@media (min-width: 1000px) {
  .container {
    width: 75%;
    margin: 0 auto;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container::before {
    content: "";
    width: 100%;
    height: 100vh;
    background: linear-gradient(159deg, #4fc7e2 40%, #47e7c8 60%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .content_cards {
    flex-direction: row;
  }

  .card_user,
  .card_prof {
    height: 12rem;
    transition: 1s ease-in-out;
  }

  .modal_desc {
    width: 34rem;
    box-shadow: 1px 1px 15px grey;
  }

  .card_user:hover,
  .card_prof:hover {
    transform: scale(1.05);
    transition: 1s ease-in-out;
  }
}
