.content {
  width: 100%;
  padding: 1rem;
}

.content > h2 {
  text-align: center;
  padding: 0 0 1rem;
}

.profession,
.days {
  border-radius: 0.5rem;
  border: 1px solid #887e7e;
  color: #887e7e;
  cursor: pointer;
  font-size: 1.1rem;
  height: 3.75rem;
  margin: 0 0 0.8rem 0;
  padding: 1rem;
  width: 100%;
}

.profession {
  margin: 0.4rem 0 0.8rem 0;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Profession styles */

.content_list {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.background {
  background: #000000ab;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.list {
  background-color: #fff;
  border-radius: 1rem 1rem 0 0;
  display: grid;
  height: 35rem;
  overflow: auto;
  width: 100%;
}

.list > li {
  align-items: center;
  border-bottom: 1px solid gray;
  cursor: pointer;
  display: flex;
  font-size: 1.1rem;
  gap: 1rem;
  padding: 1rem;
}

.redirect_login {
  color: #808080c9;
  text-align: end;
  width: 100%;
}

.redirect_login > a {
  color: #0b6efe;
  cursor: pointer;
}

@media (min-width: 1000px) {
  .container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }

  .container::before {
    background-color: #0099ff;
    content: "";
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .content {
    background: #fff;
    border-radius: 1rem;
    box-shadow: 1px 1px 11px #3b3b3b;
    width: 35rem;
  }

  .content_passwords {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .content_list {
    align-items: center;
    justify-content: center;
  }

  .list {
    align-items: center;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    height: fit-content;
    padding: 2rem;
    width: 54rem;
  }

  .list > li {
    background: #a7a7a747;
    border-radius: 4rem;
    border: 1px solid gray;
    padding: 0 1rem;
    width: fit-content;
  }
}
