.content_preview {
  display: none;
}

@media (min-width: 1000px) {
  .content_preview {
    align-items: center;
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  .preview_box {
    background: #fff;
    border-radius: 1rem;
    box-shadow: 1px 1px 15px grey;
    height: 90%;
    padding: 0.5rem;
    width: 100%;
  }

  .preview_box > h2 {
    padding: 1rem 0;
  }

  .preview_info {
    display: grid;
    grid-template-columns: 1fr 18rem;
    width: 100%;
  }

  .figure,
  .content_message {
    border-radius: 1rem;
    height: 100%;
    width: 100%;
  }

  .figure > img {
    border-radius: 1rem;
    height: 100%;
    object-fit: contain;
    width: 100%;
  }

  .content_message {
    align-items: center;
    background: #dddddd;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .content_message > span {
    color: gray;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
  }

  .content_message > p {
    color: #504f4f;
    font-size: 1.2rem;
    padding: 0 4rem;
    text-align: center;
  }

  .info_product {
    overflow: auto;
    padding: 0.5rem 1rem;
    width: 100%;
  }

  .title {
    color: gray;
    font-size: 1.5rem;
    line-break: anywhere;
    margin: 0 0 0.3rem;
  }

  .price {
    color: gray;
    font-size: 1.2rem;
    line-break: anywhere;
    margin: 0 0 0.2rem;
  }

  .location {
    color: #8080808a;
    font-size: 1.1rem;
    line-break: anywhere;
    margin: 0 0 1rem;
  }

  .state,
  .category {
    color: #8080808a;
    font-size: 1.1rem;
    line-break: anywhere;
    margin: 0 0 1rem;
  }

  .description {
    font-size: 1.1rem;
    line-break: anywhere;
    margin-bottom: 2rem;
  }

  .info_user {
    border-top: 1px solid #80808078;
    padding: 1rem 0;
    width: 100%;
  }

  .user_figure {
    align-items: center;
    display: flex;
    gap: 1rem;
    width: 100%;
  }

  .user_figure > img {
    border-radius: 50%;
    cursor: pointer;
    height: 4rem;
    object-fit: cover;
    width: 4rem;
  }

  .user_name {
    color: #8080808a;
    font-size: 1.4rem;
  }

  .user_number,
  .user_location,
  .user_adress {
    color: #8080808a;
    font-size: 1.2rem;
    margin: 1rem 0;
  }
}

@media (min-width: 1200px) {
  .preview_box {
    width: 55rem;
  }
}
