.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.container::before {
  background: linear-gradient(184deg, #0099ff 42%, #ffffff 79%);
  content: "";
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.content_info {
  color: #fff;
}

.welcome {
  text-align: center;
  padding: 2rem 0;
}

.title {
  text-align: center;
  padding: 0 0 1.5rem;
}

.resumen {
  background: #00000033;
  border-radius: 1rem;
  border: 1px solid gray;
  box-shadow: 1px 1px 8px #808080a8;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 2rem 0;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.modal_desc {
  background: #fff;
  border-radius: 0.6rem;
  color: #000;
  height: 85%;
  left: 50%;
  overflow: auto;
  padding: 1rem;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 92%;
  z-index: 10;
}

.modal_desc > h2 {
  margin-bottom: 1rem;
}

.back_modal {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #000000a1;
}

.modal_button {
  width: 100%;
  height: 3rem;
  margin: 1.2rem 0;
  font-size: 1rem;
  border-radius: 0.4rem;
  background: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.content_cards {
  align-items: center;
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  width: 100%;
}

.card_user {
  align-items: center;
  background: transparent;
  border-radius: 1rem;
  box-shadow: 1px 1px 20px #8080808c;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 90%;
}

.card_user > svg {
  font-size: 3rem;
  margin: 0.5rem 0;
  color: #000;
}

.card_user > p {
  color: #000;
  font-size: 1.1rem;
}

@media (min-width: 1000px) {
  .container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 4rem;
    width: 28rem;
  }

  .welcome {
    text-align: start;
  }

  .content_cards {
    flex-direction: row;
  }

  .modal_desc {
    width: 36rem;
    height: fit-content;
  }

  .modal_button {
    height: 3.75rem;
    font-size: 1.2rem;
  }

  .title {
    text-align: start;
  }

  .card_user {
    transition: 1s ease-in-out;
  }

  .card_user:hover {
    transform: scale(1.05);
    transition: 1s ease-in-out;
  }
}

/* .container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.container::before {
  background: linear-gradient(184deg, #0099ff 42%, #ffffff 79%);
  content: "";
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.content_info {
  color: #fff;
}

.welcome {
  margin: 0 0 2rem;
  text-align: center;
}

.title {
  font-weight: 500;
  text-align: center;
}

.resumen {
  background: #00000033;
  border-radius: 1rem;
  border: 1px solid gray;
  box-shadow: 1px 1px 8px #808080a8;
  cursor: pointer;
  font-size: 1.1rem;
  margin: 2rem 0;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.content_cards {
  align-items: center;
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  width: 100%;
}

.card_user {
  align-items: center;
  background: #c1c1c1;
  border-radius: 1rem;
  box-shadow: 1px 1px 20px #8080808c;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 90%;
}

.card_user svg {
  font-size: 1.2rem;
}

.card_user p {
  font-size: 1.2rem;
} */
