.menu__container {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 1px 1px 11px grey;
  padding: 1rem;
  position: absolute;
  top: 5rem;
  right: 0.8rem;
  width: 92vw;
}

.menu__button_close {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__button_close > p {
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}

.menu__list {
  padding: 1rem 0 0;
}

.menu__li {
  align-items: center;
  display: flex;
  font-size: 1.3rem;
  gap: 1rem;
  padding: 1rem 0;
  width: 100%;
}

.menu__li > svg {
  font-size: 2rem;
}

.menu__li:nth-child(3) {
  color: red;
}
